body {
  font-family: verdana;
}

img {
  border: 0;
}

table.lm {
  border-spacing: 0;
  width: 55em;
}

table.lm tbody {
  font-size: small;
}

table.lm th {
  font-size: x-large;
  font-weight: bold;
  height: 2em;
  text-align: left;
  padding-left: 0.5em;
  vertical-align: bottom;
  border-bottom: 1px solid #AAA;
}

table.lm td {
  padding: 2px;
  vertical-align: top;
  border-bottom: 1px solid #AAA;
}

table.lm ul {
  margin: 0;
  padding-left: 2.5em;
}

table.lm tr.lght {
  background-color: #F8F8F8;
}

table.lm tr.dark {
  background-color: #E8E8E8;
}

div.footer {
  margin-top: 3em;
  border-top: 1px solid #AAA;
  font-size: x-small;
  color: #AAA;
}
