table.lm {
  border-spacing: 0;
}

table.lm.tbody {
  font-size: small;
  vertical-align: top;
}

table.lm tr.dayhead {
  font-size: x-large;
  font-weight: bold;
  height: 2em;
  vertical-align: bottom;
}

table.lm tr.lght {
  background-color: #F8F8F8;
}

table.lm tr.dark {
  background-color: #E0E0E0;
}
